[*.{cs,vb}]

# IDE0130: Namespace neodpovídá struktuře složek.
#dotnet_diagnostic.IDE0130.severity = information

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = suggestion

# S3925: "ISerializable" should be implemented correctly
# ISerializable is obsolete, so no warning ever.
dotnet_diagnostic.S3925.severity = none
